@import models.User
@import play.i18n.Messages
@(authForm: play.data.Form[User])

@main("Sign in") {
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">@Messages.get("title_login")</h3>
                    </div>
                    <div class="panel-body">
                        @helper.form(action = play.api.mvc.Call("POST", "/login", ""), 'class -> "form-group") {
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" id="@authForm("name").id" name="@authForm("name").name"
                                    value="@authForm("name").value" placeholder=@Messages.get("placeholder_login") type="text">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" id="@authForm("password").id" name="@authForm("password").name"
                                    value="@authForm("password").value" placeholder=@Messages.get("placeholder_password") type="password">
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input name="remember" type="checkbox" value="Remember Me">@Messages.get("remember_me")
                                    </label>
                                </div>
                                    <button type="submit" class="btn btn-lg btn-success btn-block">@Messages.get("button_ok")</button>
                            </fieldset>
                         }
                    </div>
                </div>
            </div>
        </div>
    </div>
}
