@import play.i18n.Messages
@()
<div class="modal fade" id="newUser" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">@Messages.get("title_new_user")</h4>
            </div>
            <form action="/admin/users/adduser" method="post">
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group col-lg-12">
                            <label for="recipient-name" class="control-label">@Messages.get("text_user_id")</label>
                            <input type="text" class="form-control" name="id">
                            @*<div class="alert alert-success">*@
                                @*{21EC2020-3AEA-1069-A2DD-08002B30309D}*@
                            @*</div>*@
                        </div>
                        <div class="form-group col-lg-12">
                            <label for="recipient-name" class="control-label">@Messages.get("text_login")</label>
                            <input type="text" class="form-control" name="login">
                        </div>
                        <div class="form-group col-lg-12">
                            <label for="activation">@Messages.get("text_activation")</label>
                            <select class="form-control" id="activation" name="activation">
                                <option value="1">@Messages.get("option_enable")</option>
                                <option value="0">@Messages.get("option_disable")</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">OK</button>
                </div>
            </form>
        </div>
    </div>
</div>