@import play.i18n.Messages
@()
<div class="row">
    <div class="col-lg-10">
        <h1 class="page-header">@Messages.get("title_vendors_page")</h1>
    </div>
    <div class="col-lg-1">
        <button type="button" class="page-header btn btn-success" data-toggle="modal" data-target="#newUser"><i class="fa fa-user-plus"></i></button>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
            @Messages.get("title_vendors_table")
            </div>
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover" id="vendors-dataTable">
                        <thead>
                            <tr>
                                <th class="col-lg-3">@Messages.get("title_table_first_column")</th>
                                <th class="col-lg-5">@Messages.get("title_table_second_column")</th>
                                <th class="col-lg-2">@Messages.get("title_table_third_column")</th>
                                <th class="col-lg-2">@Messages.get("title_table_fourth_column")</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd gradeX">
                                <td>sergey</td>
                                <td>{21EC2020-3AEA-1069-A2DD-08002B30309D}</td>
                                <td>Enable</td>
                                <td class="text-center">
                                    <button type="button" class="btn btn-warning"><i class="fa fa-edit"></i></button>
                                    <button type="button" class="btn btn-danger"><i class="fa fa-times"></i></button>
                                </td>
                            </tr>
                            <tr class="gradeA">
                                <td>sergey</td>
                                <td>{21EC2020-3AEA-1069-A2DD-08002B30309D}</td>
                                <td>Enable</td>
                                <td class="text-center">
                                    <button type="button" class="btn btn-warning"><i class="fa fa-edit"></i></button>
                                    <button type="button" class="btn btn-danger"><i class="fa fa-times"></i></button>
                                </td>
                            </tr>
                         </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@modalnewuser()

<script>
        $(document).ready(function() {
            $('#vendors-dataTable').DataTable({
                responsive: true
            });
        });
</script>